.bg-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../../img/bg-about.jpg") no-repeat;
  background-size: cover;
}

.about-title {
  text-align: center;
  font-size: 7em;
  line-height: 110px;
  margin-top: 0.24em;
  margin-bottom: 25px;
}

.about-text {
  text-align: center;
  font-size: 20px;
  line-height: 34px;
}

@media (max-width: 769px) {
  .about-title {
    font-size: 4em;
    line-height: 79px;
  }

  .about-text {
    font-size: 16px;
    line-height: 27px;
  }
}
